<aside>
    <span class="tab scale">
        <div class="icon">
            <%- include('../icons/home.svg') -%>
        </div>
        <h2>Home</h2>
    </span>
    <span class="tab scale">
        <div class="icon">
            <%- include('../icons/user.svg') -%>
        </div>
        <h2>Users</h2>
    </span>
    <span class="tab scale">
        <div class="icon">
            <%- include('../icons/video.svg') -%>
        </div>
        <h2>New Records</h2>
    </span>
    <span class="tab scale">
        <div class="icon">
            <%- include('../icons/videos.svg') -%>
        </div>
        <h2>
            All Records
        </h2>
    </span>
    <span class="tab scale">
        <div class="icon">
            <%- include('../icons/setting.svg') -%>
        </div>
        <h2>
            Settings
        </h2>
    </span>
</aside>